/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   
/* 我是分隔 */


.header{
  background-image: url(../images/Hero.png);
  background-repeat: round ;
  height: 33vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header h1 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      padding-top: 20px;
      margin-top: 5vh;
      margin-bottom: 5vh;
      
}

.menu{
  background: #fff;
  text-align: center;
  padding: 20px auto;
  margin-top: -50px;
  margin-bottom: 300px ;
  font-size: 30px;
  padding: 20px 0px;
  width: 60%;
  position: absolute;
  left: 20%;
  border: gray solid 1px ;
  border-radius: 15px;
  opacity:1;     /*透明度 */
  
}


.menu input {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  color: #FFF;
  margin: 5px 20px;
  font-size: 25px;
  font-weight: bold;

   
}

.menu .bt1{
  background-color: #559ac8;
}

.menu .bt2{
  background-color: #F5D105;
}

.menu .bt3{
  background-color: #FFA782;
}

.menu .bt4{
  background-color: #8A82CC;
}



.zonelist{
  font-size: 30px;   
  margin-top: 1vh;   
} 

.place{
  text-align: center;

}


.zonename{
  font-size: 30px;
  font-weight: bold;
  color: violet;
  text-align: center;
  margin-top: 160px;
}

.card{
  /* background: yellow; */
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  
}

.card-wrapper{
  /* background: greenyellow; */
  margin: 30px;
  /* padding: 15px; */
  width: 45vh;
  box-shadow: -10px 0 10px 3px rgba(65, 61, 61, 0.5);
  border-radius: 10px;
}

.cardphoto {  
  height: 30VH;
  background-position: center;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  

}

.cardname{
 font-size: 30px;
 font-weight: bold;
 color: #fff;;
 text-align: left;
 padding-left: 15px;
 position: relative;
 top: 26VH;
}


.zoneflex p{
 font-size: 16px;
 color: #fff;;
 text-align: right;
 padding-right: 15px;
 position: relative;
 top: 24VH;
}

.cardinfo{
  margin: 10px 0;
  padding-left: 10px;
}

.footer{
  background-color: #559ac8;
  font-size: 15px;
  text-align: center;
  color: #FFF;
  padding: 20px 0px;
}


.Ticket{
  color:gray;
  text-align: right;
}